<?xml version="1.0" encoding="utf-8" ?>
<umbracoXmlSitemap>
  <filters>
    <!-- Filters are executed in the order they appear -->
    <filter type="MarcelDigital.UmbracoExtensions.XmlSitemap.Filters.NoTemplateFilter, MarcelDigital.UmbracoExtensions.XmlSitemap" />
    
    <!-- Additional Filter Types
    <filter type="MarcelDigital.UmbracoExtensions.XmlSitemap.Filters.DocumentTypeWhitelistFilter, MarcelDigital.UmbracoExtensions.XmlSitemap">
        <documentTypes>
            <add alias="DocumentTypeAlias1" />
            <add alias="DocumentTypeAlias2" />
        </documentTypes>
    </filter>
    <filter type="MarcelDigital.UmbracoExtensions.XmlSitemap.Filters.DocumentTypeBlacklistFilter, MarcelDigital.UmbracoExtensions.XmlSitemap">
        <documentTypes>
            <add alias="DocumentTypeAlias1" />
            <add alias="DocumentTypeAlias2" />
        </documentTypes>
    </filter>
    <filter type="MarcelDigital.UmbracoExtensions.XmlSitemap.Filters.PropertiesFilter, MarcelDigital.UmbracoExtensions.XmlSitemap">
        <properties>
          <property alias="propertyAlias1" value="true" />
        </properties>
    </filter>
    -->
  </filters>
</umbracoXmlSitemap>